.HomePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d7d7d7;
  height: 100vh;
  width: 100vw;
}

.FormWrapper {
  background: #4b4a4a;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.homePageLogo {
  height: 120px;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #258BFA;
}

footer a:hover {
  color: #FBC64D;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-top: 0;
  margin-bottom: 20px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #d7d7d7;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.LeaveBtn {
  /* background-color: #FBC64D; */
  background-color: #258BFA;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.LeaveBtn:hover {
  /* background-color: #258BFA; */
  background-color: #FBC64D;
}

.createInfo {
  margin: auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #FBC64D;
  text-decoration: none;
  border-bottom: 1px solid #FBC64D;
  transition: all 0.3 ease-in-out;
}

.createNewBtn:hover {
  color: #258BFA;
  border-color: #258BFA;
}

.mainWrap {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* height: 100vh; */
}

.aside {
  background-color: #3c3c3c;
  padding: 16px;
  color: #d7d7d7;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.userList {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.username {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #d7d7d7;
  padding: auto;
}

.logoEditor {
  height: 150px;
}

.editorWrap {
  background-color: #cd1717;
}

.LeaveBtn {
  margin-top: 20px;
  width: 100%;
}

.connected {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* .green {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
} */

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}